  <div class="nested-fileds">
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.check_box :done %><br>
      <%= f.label :label %>
      <%= link_to_remove_association "remove task", f %>
    </div>
  </div>
